/* General Styles */
body {
    background-image: url('../images/beagle.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 120%;
    padding: 15px;
    border-radius: 10px;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Hover effect */
}

.logo h1 {
    font-size: 2.5em;
    color: #F0FFFF;
}

.center-text {
    text-align: center;
    font-family: 'Reddit Sans Condensed', sans-serif;
    color: #F0FFFF;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    margin: auto;
}

.center-text h2 {
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.center-text p {
    font-size: 1.4em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar ul {
        display: none; /* Hide the navbar links */
    }

    .navbar .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .navbar.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .navbar.active ul li {
        width: 100%;
        text-align: center;
    }

    .center-text {
        font-size: 1.2em;
        padding: 10px;
    }
}
